.App {
  display: flex;
  background-color: #ddd;
  height: 100vh;
}

.titulos {
  height: 120px;
}

.areacards {
  max-height: 600px;
  width: 100%;
  overflow-y: scroll;
}

.section {
  height: 86vh;
  width: 33%;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
}

/* .card {
  height: 160px;
  display: flex;
  background-color: blueviolet;
}

.esquerda {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.direita {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
/* } */

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.esquerda {
  width: 80%;
  justify-content: top;
}

h3 {
  padding: 0;
  margin: 0;
}

.direita {
  width: 20%;
  text-align: right;
}

button {
  background-color: #3498db;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2980b9;
}

h3 {
  color: #333;
  margin-bottom: 8px;
}

p {
  color: #666;
  margin: 0;
}

.section {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.titulos {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

label {
  margin-bottom: 10px;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btnDel {
  background-color: rgb(255, 72, 72);
}

.btnDel:hover {
  background-color: red;
}

button:hover {
  background-color: #2980b9;
}





::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #a5a8ab; /* Cor da barra de rolagem */
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #898989; /* Cor de fundo da barra de rolagem */
}

/* Para navegadores Blink (Chrome, Edge) */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #a5a8ab; /* Cor da barra de rolagem */
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5; /* Cor de fundo da barra de rolagem */
}